@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  min-height: 100vh;
}

.api-endpoint {
  @apply mb-6 border border-gray-300 rounded-lg overflow-hidden bg-white shadow-sm;
}

.api-method {
  @apply inline-block px-3 py-1 rounded font-semibold text-sm;
}

.api-method.get {
  @apply bg-blue-100 text-blue-800;
}

.api-method.post {
  @apply bg-green-100 text-green-800;
}

.api-method.put {
  @apply bg-yellow-100 text-yellow-800;
}

.api-method.delete {
  @apply bg-red-100 text-red-800;
}
